    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>NAŠE USLUGE</h2>
                    <p>vođenje propisanih poslovnih knjiga i evidencija <br>
                      zaprimanje i slanje računa putem servisa <a href="https://www.moj-eracun.hr/cms/naslovna/">eRačun</a><br>
                      elektronske prijave i odjave na <a href="https://www.mirovinsko.hr">mirovinsko</a > i <a href="https://www.hzzo.hr">zdravstveno</a> osiguranje <br>
                      dostava obrazaca putem servisa <a href="https://e-porezna.porezna-uprava.hr/">e-Porezna</a> <br>
                      vršenje plaćanja netbankingom, prihvaćanje i ispis bankovnih izvoda <br>
                      porezno savjetovanje i financijsko planiranje
                    </p>
                </div>
            </div>
        </div>
    </section>
